<table border="0" cellspacing="5" cellpadding="5">
  <tr>
  <% @table_schedule.headers.each do |header| %>
    <th><%= header %></th>
  <% end %> 
  </tr>
  <% @table_schedule.each do |row| %>
    <tr>
    <% row.each do |element| %>
      <td><%= element[1] %></td>
    <% end %>
    </tr>
  <% end %> 
</table>

<a href= "/upload">Upload a New Schedule</a>
<a href= "/first_schedule">See the Original Schedule</a>